
<div>
  
  <div user-searchbar></div>

  <!-- Profile -->

  <div user-profile="data.user"></div>

  <!-- Friends -->

  <div class="friend-list" 
    ng-if="isFinished.userProfile && data.friends" 
  >
    <ul>
      <li ng-repeat="friend in data.friends" 
        user-profile="friend"
      ></li>
    </ul>
  </div>
  

  <!-- Games -->

  <div class="game-list"
    ng-if="isFinished.userProfile && data.games"
  >
    <ul>
      <li ng-repeat="game in data.games">

        <h3>{{ game.name }}</h3>
        <a ng-href="/games/{{ game.appid }}"><span class="fa fa-newspaper-o"></span></a>

        <div class="game-logo">
          <img ng-src="{{ game.urls.logo }}" alt="game logo" />
        </div>

        <span ng-if="game.playtime_2weeks">
          {{ game.playtime_2weeks }} hrs
        </span>
        <span ng-if="game.playtime_forever > 0">
          {{ game.playtime_forever }} hrs
        </span>

      </li>
    </ul>
  </div>

</div>
