<div class="user-profile"
  ng-if="user"
  ng-init="communityId = toCommunityId(user)"
  ng-click="communityId ? onIconClick() : null;"
>

  <div class="user-icon" 
    style="background-image: url({{ user.avatarfull }});"
  >
    <img ng-hide="true" ng-src="{{user.avatarfull}}" alt="user avatar" />
  </div>

  <h3>
    
    <a ng-if="communityId" 
      ng-href="/users/{{ communityId }}"
    >
      {{ user.personaname }}
    </a>

    <span ng-if="!communityId">{{ user.personaname }}</span>
  </h3>

  <span>{{ user.timecreated | relativeTime }}</span>
  
  <div class="online-state">
    <span ng-if="user.personastate === 1">
      <span class="fa fa-circle"></span> online
    </span>
    <span ng-if="user.personastate === 0">
      <span class="fa fa-circle-o"></span> last online {{ user.lastlogoff | relativeTime }}
    </span>
  </div>

  <div ng-if="user.gameid && user.gameextrainfo" class="now-playing">
    <a ng-href="/games/{{ user.gameid }}">
      [{{ user.gameextrainfo }}]
    </a>
  </div>

</div>