<div class="user-profile"
  ng-if="user"
>

  <h3>
  <a ng-href="/users/{{ toCommunityId(user) }}">{{ user.personaname }}</a>
  </h3>

  <div class="user-icon" style="background-image: url({{ user.avatarfull }});">
    <img ng-hide="true" ng-src="{{user.avatarfull}}" alt="user avatar" />
  </div>

  <span>{{ user.timecreated | relativeTime }}</span>
  
  <div class="online-state">
    <span ng-if="user.personastate === 1">
      <span class="fa fa-circle"></span> online
    </span>
    <span ng-if="user.personastate === 0">
      <span class="fa fa-circle-o"></span> last online {{ user.lastlogoff | relativeTime }}
    </span>
  </div>

</div>