<!doctype html>
<html lang="en-US" ng-app="SteamyApp">
<head>
  <base href="/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>Steamy</title>

  <link rel="stylesheet" href="/lib/normalize.css/normalize.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/dist/css/app.css" />
</head>
<body>

<h1>
  <a href="/">Steamy</a>
</h1>

<p>Yes. I am alive.</p>

<div ui-view></div>

<script src="/dist/js/lib.js"></script>
<script src="/dist/js/app.js"></script>

</body>
</html>
