<!doctype html>
<html lang="en-US" ng-app="SteamyApp">
<head>
  <base href="/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>Steamy</title>

  <link rel="stylesheet" href="/lib/normalize.css/normalize.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/dist/css/app.css" />
</head>
<body>

<div class="header">

  <div navbar></div>

  <h1>
    <a href="/">
      <img src="/dist/img/steamy-logo.png" alt="Steamy" width="174" height="46" />
    </a>
  </h1>
</div>

<div class="loading-indicator" ng-class="{hide: !isLoading}">
  <i class="fa fa-spinner fa-pulse"></i>
</div>

<div class="content-area">
  <p>Yes. I am alive.</p>

  <div ui-view></div>
</div>

<script src="/dist/js/lib.js"></script>
<script src="/dist/js/app.js"></script>

</body>
</html>
