
.game-list {
  .game-list-banner {
    h2 {
      display: inline;
    }
  }

  ul {
    padding: 0;
  }
  li {
    display: inline-table;
    width: 165px;
    padding-right: 45px;
    padding-bottom: 40px;
  }

  .playtime {
    margin-top: 8px;

    .top-label {
      margin-bottom: 4px;
    }
  }

}
